# Copy this to make.inc and fill in
# appropriate values for your environment

## Path where you'd like the program to be installed
DESTINATION=$(MEMBERWORK)/stf007

## MPICC
MPICC=mpicc

## NVCC Command
NVCC=/Developer/NVIDIA/CUDA-6.0/bin/nvcc -ccbin=/usr/bin/clang -arch=sm_35
 
## Cuda Libs
CUDA_LIBRARY_PATH=-L/Developer/NVIDIA/CUDA-6.0/lib

## Debugging
# disable debugging:
DEBUG=
# enable debugging:
# DEBUG=-g
